.about {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template-columns: 400px 550px;
        grid-template-rows: minmax(200px, auto) minmax(200px, auto);
        grid-auto-rows: minmax(245px, auto);
        column-gap: 70px;
        row-gap: 40px;
    }
    &__photo {
        grid-row: 1/3;

        // Что бы не ламалась струкрута при другой картинке
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.9;
            border-radius: 30px;
        }
    }
    &__descr {
        padding-top: 5px;
        .divider {
            margin: 0;
        }
    }
    &__text {
        margin-top: 20px;
        font-size: 22px;
        line-height: 32px;
    }
    &__skills {
        display: grid;
        grid-template: repeat(2, minmax(115px, auto)) / repeat(
                2,
                minmax(115px, auto)
            );
        grid-auto-rows: 1fr;
        column-gap: 50px;
        row-gap: 20px;
        &-item {
            display: grid;
            grid-template-columns: 40px 220px;
            column-gap: 20px;
        }
        &-circle {
            position: relative;
            padding: 15px 0 0 8px;
            @include before_circle;
            &:before {
                top: 0;
            }
        }
        &-text {
            margin-top: 10px;
            font-size: 14px;
            line-height: 23px;
        }
    }
}
