.about {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template-columns: 400px 670px ;
        grid-template-rows: minmax(245px, auto), minmax(255px, auto) ;
        grid-auto-rows: minmax(250,auto);
        column-gap: 70px;
    }
    &__photo {
        grid-row: 1/3;
        // Что бы не ламалась струкрута при другой картинке
        img {
            width: 100%;
        }
    }
    &__descr {
        padding-top: 5px;
        .divider {
            margin: 0;
        }
    }
    &__text {
        margin-top: 20px;
        font-size: 22px;
        line-height: 21px;

    }
    &__skills {
        display: grid;
        grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 1fr);
        grid-auto-rows: 1fr;
        column-gap: 50px;
        row-gap: 20px;
        &-item {
         display: grid;
         grid-template-columns: 40px 240px;
         column-gap: 20px;

        }
        &-circle {
            @include before_circle;
            position: relative;
            padding: 15px 0 0 15px;
            &::before {
                top: 0;
                left: 1px ;
            }
        }
        &-text {
            font-size: 18px;
            line-height: 18px;
        }
    }
}
