.btn {
    &__portfolio, &__about {
        color: $color-white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        padding: 10px 20px;
        border-radius: 20px;
        background: linear-gradient(90deg,#825d1a,#ffcc58);
    }
    &__contacts {
        color: $color-white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        padding: 10px 20px;
        border-radius: 20px;
        background: linear-gradient(90deg,#825d1a,#ffcc58);
        border: none;
        cursor: pointer;
        &:hover {
            transform: scale(1.05);
            filter: sepia(60%);
        }
    }
}
