.contacts {
   padding: 120px 0 90px 0;
    &__wrapper {
        display: grid;
        padding: 0 50px;
        grid-template-columns: 400px 600px;
        justify-content: space-between;
    }
    &__social {
        a {
            text-decoration: none;
            cursor: pointer;
        }
    }
    &__photo {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 30px;
            opacity: 0.9;
        }
    }
    &__descr {
        padding-top: 5px;
            .divider {
            margin: 0;
        }
    }
    &__text,  &__social  {
        margin-top: 20px;
    }
    &__link {
        margin-right: 25px;
        img {
            max-width: 30px;
            max-height: 30px;
        }
    }
    // Form
    &__form {
        margin-top: 30px;
        display: grid;
        grid-template: 45px 220px 45px / repeat(2, 250px);
        justify-content: space-between;
        column-gap: 30px;
        row-gap: 20px;
        label {
            display: block;
            position: absolute;
            height: 18px;
            padding: 0 8px;
            top: -9px;
            left: 25px;
            background-color: $background;
            border-radius: 30px;
        }
    }
    &__input {
        position: relative;        
        input {
            width: 100%;
            height: 100%;
            padding: 0 20px;
            font-size: 16px;
            background-color: $background;
            &:hover {
                box-shadow: 0px 5px 15px rgba(242, 192, 55, 1);
            }
        }
    }
    &__textarea {
        grid-column: 1/3;
        position: relative;
        margin-top: 30px;
        &:hover {
            box-shadow: 0px 5px 15px rgba(242, 192, 55, 1);
        }
        textarea {
            width: 100%;
            height: 100%;
            //убррать бегунок винзу
            resize: none;
            padding: 20px 20px;
            font-size: 15px;
            background-color: $background;
        }
    }
    &__triggers {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: repeat(2, auto) ;
        column-gap: 35px;
    }
    &__policy {
        font-size: 14px;
        display: flex;
        align-items: center;
        input {
            margin-right: 12px;
        }
    }
    &__btn {
        border: none;
        &:hover {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
         }
    }
}