@media (max-width: 1439px) {
    .container {
        max-width: 960px;
    }
    .sidepanel {
        display: none;
    }
    .benefit {
        &__wrapper {
            column-gap: 110px;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .skills {
        &__raitings {
            &-line {
                width: 270px;
            }
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-between;
            row-gap: 30px;
            .horizontal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    } 
    .contacts {
        &__wrapper {
            grid-template-columns: 320px 500px;
        }
    }
   
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .sidepanel {
        display: none;
    }
    .about {
        &__wrapper {
             grid-template-columns: 300px 585px;
             column-gap: 35px;
             row-gap: 30px;
        }
        &__skills {
            grid-template-columns: repeat(2, 275px);
            grid-template-rows: repeat(2, minmax(50px, auto));
            column-gap: 20px; 
            &-item {
                grid-template-columns: 25px 235px;
                column-gap: 20px
            }
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 250px);
            justify-content: center;
        }
        &__raitings {
            &-line {
                width: 250px;
            }
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 250px);
            grid-auto-rows: 250px;
            justify-content: space-around;
            row-gap: 30px;
            .horizontal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    } 
    .contacts {
        &__wrapper {
            grid-template-columns: 330px 500px;
            column-gap: 30px;
            row-gap: 30px;
        }
        &__form {
            grid-template-columns: repeat(auto-fit, 230px);
            justify-content: space-between;
            row-gap: 15px;
            
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .hamburger {
        right: 10px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 360px;
            row-gap: 15px;
       }
       &__text {
        font-size: 15px;
       }
       &__skills {
        grid-template-columns: 350px;
        grid-auto-rows: minmax(50px, auto); 
        &-item {
            grid-template-columns: 25px 300px;
        }
        
        &-circle {
            padding: 12px 0 0 3px;
            &::before {
                width: 30px;
                height: 30px;
            }
        }
        &-text {
            font-size: 13px;
            margin-top: 5px;
        }
       }
    }
    .title {
        &__fz14 {
            font-size: 15px;
            line-height: 20px;
        }
        &__fz16 {
            font-size: 15px;
        }
        &__fz36 {
            font-size: 30px;
        }
    }
    .promo {
        &__title {
            width: 450px;
        }
    }
    .skills {
        &__wrapper {
            // grid-template-columns: repeat(3,minmax(100px,1fr));
            row-gap: 40px;
        }
        &__raitings {
            margin-top: 80px;
            &-line {
                width: 190px;
            }
            &-item {
                grid-template-columns: 150px 30px;
                row-gap: 50px;
                
            }
            &-title {
                &:before {
                    width: 25px;
                    height: 25px;
                    top: 1%;
                    left: -2px;
                }
            }
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 250px 380px;   
        }
        &__form {
            grid-template-columns: auto ;
            grid-template-rows: 45px 150px 35px;
        }
        &__textarea {
            margin-top: 15px;
        }
    }
    
}


@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .promo {
        &__title {
            width: 300px;
        }
        &__link {
            font-size: 15px;
        }
    }
    .title {
        &__fz14 {
            font-size: 18px;

        }
        &__fz16 {
            font-size: 13px;
        }
        &__fz20 {
            font-size: 25px;
        }
        &__fz48 {
            font-size: 28px;
            line-height: 39px;
        }
    }
    .promo__btns {
        width: 220px;
        margin-top: 15px;
    }
    .btn {
        &__about, &__portfolio {
            padding: 5px 15px;
        }
    }
    .about {
        padding: 40px 15px 40px 15px;
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 255px);
            margin-top: 20px;
            &-item {
                grid-template-columns: 40px 200px;
              
            }
        }
    }
    .benefit {
        padding-top: 60px;
        &__wrapper {
            grid-template: auto auto / 1fr;
            row-gap: 30px;
            padding: 0px 20px;
        }
        &__item {
            &-descr {
                font-size: 13px;
                line-height: 20px;
            }
            &-location {
                font-size: 14px;
            }
        }
    }
    .skills {
        &__wrapper {
        }
        &__raitings {
            margin-top: 80px;
            grid-template: repeat(3, 75px) / repeat(1, 1fr);
            row-gap: 30px;
            &-item {
                grid-template-columns: 260px 30px;
                row-gap: 0;
            }
            &-line {
                width: 500px;
            }
            &-title {
                &:before {
                    width: 30px;
                    height: 30px;
                    top: -5%;
                    left: -4px;
                }
            }
        }

    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 400px);
            justify-content: center;
        }
    }
    .contacts {
        &__wrapper {
            grid-template: 340px auto auto/1fr; 
        }
    }
}


@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .promo {
        padding: 200px 0 200px 0;
        background: url('/src/img/photo_2022-08-03_09-31-03.jpg') no-repeat 63%/cover;
        &__link {
            font-size: 12px;
        }
        .hamburger {
            height: 20px;
            span {
                width: 23px;
               &.long {
                width: 26px;
               }
            }
        }
    }
    .menu {
        &__block {
        width: 180px;
        }
        &__link {
            font-size: 18px;
            margin-bottom: 5px;
        }
    }
    .title {
        &__fz14 {
            font-size: 15px;
        }
        &__fz16 {
            font-size: 15px;
        }
        &__fz36 {
            font-size: 17px;
         
        }
        &__fz48 {
            font-size: 20px;
            line-height: 30px;
        }
        &__section-left {
            &:before {
                width: 30px;
                height: 30px;
                top: -14%;
                left: -6px;
            }
        }
    }
    .promo__btns {
        margin-top: 35px;
        width: 190px;
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 250px auto auto / 1fr;
        }
        &__text {
            font-size: 13px;
        }
        &__skills {
            grid-template-columns: 1fr;
            &-item {
                grid-template-columns: 40px 1fr;
                
            }
            &-text {
                font-size: 13px;
            }
        }
    }
    .benefit {
        padding-top: 40px;
        &__wrapper {
            grid-template: auto auto / minmax(100px, 1fr);
            margin-top: 30px;
            row-gap: 30px;
            padding: 0px 20px;
        }
        &__item {
            &::before {
                width: 10px;
            }
            &-head {
                padding: 20px 0 0 65px;
            }
            &-icon {
                left: 20px;
            }
            &-descr {
                padding-left: 20px;
                margin-top: 25px;
            }
        }
    }
    .divider {
        margin: 10px auto 0 auto;
    }
    .skills {
        padding-top: 40px;
        &__wrapper {
            margin-top: 40px;
            row-gap: 20px;
            grid-template-columns: repeat(auto-fit, 140px);
  
        }

        &__raitings {
            margin: 40px 5px 20px 5px;
            &-line {
                width: 250px;
            }
            &-item {
                grid-template-columns: 200px 37px;
            }
        }
        &__column {
            width: 130px;
            height: 130px;
            &-text {
                margin-top: 95px;
            }
            img {
                width: 50%;
                height: 40%;
                object-fit: scale-down;
            }
        }
    }
    .portfolio {
        margin-top: 90px;
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 230px);
            row-gap: 15px;
        }
        &__type, &__count {
            font-size: 12px;
        }
        &__descr {
            font-size: 11px;
        }
        .divider {
            margin: 25px auto 0 auto;
        }
    }
    .contacts {
        &__form {
            grid-template-rows: 45px 45px 140px;
        }
        &__input {
           display: grid;
           grid-column: 1/3;
        }
        &__policy {
            font-size: 10px;
        }
    }
}

