.promo {
    min-height: 100vh;
    position: relative;
    background: url('/src/img/photo_2022-08-03_09-31-03.jpg') no-repeat 82%/cover;
    padding-top: 250px;
    padding-bottom: 250px;
    .hamburger {
        &:hover {
            background-color: $gold_background;
            
        }
    }
    .container {
    }
    &__title {
        width: 660px;
        margin-top: 10px;
        z-index: 2;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 250px;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        color: #000;
        text-decoration: none;
        font-weight: bold;
        &:hover {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
            cursor: pointer;
         }
    }
}