.promo {
    min-height: 100vh;
    position: relative;
    background: url("../../img/IMG_8803.HEIC-min.jpg") no-repeat 82% / cover;
    padding-top: 250px;
    padding-bottom: 250px;
    // opacity: 0.7;
    .hamburger {
    }
    .container {
    }
    &__title {
        width: 660px;
        margin-top: 10px;
        z-index: 2;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 250px;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        color: #000;
        text-decoration: none;
        font-weight: bold;
        &:hover {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }
    }
}
