.sidepanel {
    position: fixed;
    top: 230px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 340px;
    z-index: 3;
    align-items: center;
    &__link {
        img {
            width: 30px;
            height: 30px;
        }
    }
    &__divider {
        width: 2px;
        height: 90px;
        background: linear-gradient(90deg,#825d1a,#ffcc58);
        margin-top: 15px;
    }
    &__text {
        height: 150px;
        width: 9px;
        span {
            font-size: 15px;
            display: block;
            width: 150px;
            transform: rotate(-90deg) translate(-40%, -350%);
        }
    }
}