.skills {
    padding-top: 125px;
    &__wrapper {
        margin-top: 40px;
        padding: 0 10px;
        display: grid;
        grid-template-columns: repeat(4, minmax(100px, 1fr));
        grid-template-rows: repeat(2, minmax(100px, 1fr));
        row-gap: 50px;
        column-gap: 0px;
        
    }
    &__column {
        display: block;
        background-color: rgba(50, 50, 55, 1);
        width: 200px;
        height: 200px;
        border: 2px solid $main-color;
        border-radius: 30px;
        position: relative;
        box-shadow: 0px 5px 15px rgba(242, 192, 55, 1);
       margin: 0 auto;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 130px;
            height: 50px;
        }
        &-text {
            margin-top: 150px;
            text-align: center;
            font-weight: 700;
            font-size: 14px;
        
        }
    }
    &__raitings {
        margin-top: 120px;
        display: grid;
        grid-template: repeat(1, 75px)/repeat(3,1fr);
        column-gap: 50px;
        justify-content: space-between;
        border: 1px solid #716850;
        border-radius: 30px;
        padding: 30px 20px;
        box-shadow: 0px 5px 15px rgba(242, 192, 55, 1);
        &-item {
            display: grid;
            grid-template: 21px 14px/ 200px 35px;
            justify-content: space-between;
            align-content: space-between;
            
        }
        &-title {
            @include before_circle;
            position: relative;
            padding: 4px 0 0 4px;
        }
        &-line{
            width: 300px;
            height: 14px;
            background: #7b7a7a;
            border-radius: 4px;
            span {
                display: block;
                width: 350px;
                height: 14px;
                background: linear-gradient(90deg,#825d1a,#ffcc58);
                border-radius: 4px;
            }
        }
        &-counter {
            font-weight: 700;
            font-size: 17px;
        }
    }
}
